.wrap {
  width: 600px;
  height: 200px;
}
.box {
  position: absolute;
  left: 70px;
  top: 70px;
  width: 60px;
  height: 60px;
  background-color: aqua;
}

.box::before {
  content: url("../img/soccer\ ball.png");
  display: block;
  offset: path(
    "M1.4299 184.674C6.66785 179.971 10.8362 174.733 38.8034 141.3C56.0197 120.719 69.0042 106.624 85.2449 92.9787C98.8322 81.5628 116.68 68.3383 132.662 57.8624C149.815 46.6184 179.52 31.1222 196.178 25.2944C210.54 20.2695 231.522 8.5345 244.664 3.7999C252.758 0.884078 274.432 0.638251 304.531 1.41687C327.99 2.02373 342.195 7.43343 353.418 12.1366C369.909 19.047 390.375 25.2393 407.135 32.8288C418.191 37.8352 426.081 43.0924 435.495 47.2686C464.401 60.0914 483.258 90.2654 490.329 97.6111C496.161 103.67 512.515 115.37 524.934 125.924C531.024 131.101 534.631 137.989 539.625 144.013C545.895 151.577 550.361 159.476 555.355 166.554C560.868 176.794 566.09 184.108 572.649 188.331C574.49 189.377 576.566 190.935 581.851 194.112"
  );
  
  animation: move 5s ease alternate infinite;
}


@keyframes move {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}
