:root{
    --gn10: #11e62d;
    --gn20: #1dc2c2;
    --gn30: #bcfc28;
    --gn40: hsl(32, 82%, 52%);
    --gn50: #2843df;
    --gn60: #941dda;
    --gn70: #f71111;
    --gn80: #2a145e;
    --gn90: #000000;
}

