@charset 'utf-8';
.fl {
  float: left;
}
.cf::after {
  content: "";
  display: block;
  clear: both;
}
header {
  background-color: red;
}
main {
  background-color: blue;
}
footer {
  background-color: green;
}
nav {
  background: #1aff00;
}
section {
  background: #ff00dd;
}
aside {
  background: #19d1df;
}
.wrap {
    width: 500px;
    margin: 0 auto;
}